---
import cloud from '@assets/cloud.png';
import Descripcion from '@components/Descripcion.astro';
import Fila from '@components/Fila.astro';
import Filas from '@components/Filas.astro';
import ListaDeEjemplos from '@components/ListaDeEjemplos.astro';
import Titulo from '@components/Titulo.astro';

import { cloudcomputing } from '@scripts/index/listas/index';

const description = `Antes, los recursos se compartían con conexiones programadas. Sin embargo, cada vez se utiliza más el método de distribución denominado cloud computing, el cual proporciona infraestructura, servicios, plataformas y aplicaciones según se requiera en las redes. El cloud computing hace referencia a la ejecución de las cargas de trabajo en las nubes, las cuales son entornos de TI que extraen, agrupan y comparten recursos flexibles en una red. El cloud computing y las nubes no son tecnologías en sí mismas. Son conceptos que describen cómo se pueden utilizar las tecnologías de la información (TI) para proporcionar servicios y recursos a través de Internet. El cloud computing es un modelo de entrega de servicios de TI que permite el acceso a recursos informáticos compartidos, como servidores, almacenamiento y aplicaciones, a través de Internet. Las nubes son entornos virtuales que permiten la creación y gestión de estos recursos, proporcionando una infraestructura escalable y flexible para el cloud computing.`
---

<section class="CloudComputing">
    <Titulo img={cloud.src} text="Computación en la nube:" />
    <Filas>
        <Fila>
            <Descripcion description={description} />
        </Fila>
        <Fila>
            <h1><b>Características</b>:</h1>
            <ListaDeEjemplos list={cloudcomputing}></ListaDeEjemplos>
        </Fila>
    </Filas>
</section>

<style is:global>
    .CloudComputing {
        width: 85vw;
        justify-self: center;
        align-self: center;
        margin-top: 5vh;
        text-align: justify;
    }

    @media screen and (max-width: 760px) {
        .CloudComputing {
            width: 80vw;
        }
    }
</style>