---
import technology from "@assets/technology.png"
import ListaDeEjemplos from "@components/ListaDeEjemplos.astro"
import Descripcion from "@components/Descripcion.astro"
import Titulo from "@components/Titulo.astro"

import { IoTList } from "@scripts/index/listas/index"

const description = `Es un concepto que se refiere a la interconexión de dispositivos y objetos a través de Internet, permitiendo la recopilación y el intercambio de datos entre ellos. Esta tecnología ha transformado la forma en que interactuamos con el mundo que nos rodea, facilitando la automatización y el control remoto de dispositivos en diversas áreas, como la domótica, la salud, la industria y el transporte. El IoT se basa en tecnologías como sensores, conectividad inalámbrica y análisis de datos para crear soluciones inteligentes y eficientes.`
---

<section class="InternetDeLasCosas">
    <Titulo img={technology.src} text="El internet de las cosas (IoT):" />
    <Descripcion description={description}>
        <b class="gradient-text">Ejemplos:</b></p>
        <ListaDeEjemplos list={IoTList} />
    </Descripcion>
</section>