---
import smartphone from "src/assets/smartphone.png";
import Cartas from "@components/Cartas.astro";
import Titulo from "@components/Titulo.astro";

import {smartphones} from "@scripts/index/listas/index";
---

<section class="Telefonos">
    <Titulo img={smartphone.src} text="Teléfonos móviles:" />
    <Cartas list={smartphones} />  
</section>