<div class="container">
    <h2 class="description">
        A continuación se presentan los avances tecnológicos y científicos más relevantes del siglo XXI, que han transformado la forma en que vivimos, trabajamos y nos comunicamos. Desde la inteligencia artificial hasta la biotecnología, estos avances han tenido un impacto significativo en nuestra sociedad y continúan moldeando nuestro futuro.
        Esta página web tiene como objetivo proporcionar una visión general de los avances tecnológicos y científicos más importantes del siglo XXI. A través de una serie de secciones, exploraremos diferentes áreas de la tecnología y la ciencia, destacando los hitos más significativos y su impacto en nuestra vida cotidiana.
    </h2>

    <div class="cards">
        <div class="card">
            <h2>Características</h2>
            <ul>
                <li><span class="gradient-text">Automatización:</span> Aumento en la productividad, pero tambíen ha cambiado el panorama laboral</li>
                <li><span class="gradient-text">Acceso:</span> El acceso a internet y la tecnología móvil han interconectado a personas y empresas en todo el mundo</li>
            </ul>
        </div>
        <div class="card">
            <h2>Impacto</h2>
            <ul>
                <li>Sensores y dispositivos inteligentes que monitorean la salud en tiempo real</li>
                <li>El desarrollo de plataformas digitales ha permitido la globalización de los negocios</li>
                <li>Software para optimizar el uso de recursos y reducir el impacto ecológico</li>
            </ul>
        </div>
    </div>
</div>

<style>
    .description {
        width: 80vw;
        justify-self: center;
        margin-top: 5vh;
        text-align: justify;
    }

    .cards {
		display: flex;
        flex-wrap: wrap;
		justify-content: center;
		align-items: center;
		gap: 20px;
		padding: 20px;
	}

	.card {
		background-color: rgba(255, 255, 255, 0.9);
		box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
		border-radius: 10px;
		padding: 20px;
		margin: 20px;
		min-height: 250px;
		max-width: 400px;
		text-align: center;
		font-size: 18px;
		color: #333;

		& ul li {
			text-align: left;
		}
	}

	.card:hover {
		& h2 {
			background: var(--main-gradient);
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
			background-clip: text;
			transition: all 0.3s ease-in-out;
		}
		background-color: rgba(255, 255, 255, 0.8);
		box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);
		transition: all 0.3s ease-in-out;
		transform: scale(1.02);
	}

	.card:not(:hover) {
		& h2 {
			background: #111827;
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
			background-clip: text;
			transition: all 0.3s ease-in-out;
		}
		background-color: rgba(255, 255, 255, 0.7);
		box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
		transition: all 0.3s ease-in-out;
		transform: scale(1);
	}

	.card ul li::marker {
		color: var(--main-color);
	}
</style>