---
import cloud from 'src/assets/cloud.png';
import { InventosUtils } from '../../../scripts/utils';
import { cloudcomputing } from '../../../scripts/listas';
---

<div class="CloudComputing">
    <div class="title">
        <img src={cloud.src} alt="cloud"/>
        <h1>Computación en la nube:</h1>
    </div>
    <div class="rows">
        <div class="row">
            <div class="description hover-anim">
                <p>Antes, los recursos se compartían con conexiones programadas. Sin embargo, cada vez se utiliza más el método de distribución denominado cloud computing, el cual proporciona infraestructura, servicios, plataformas y aplicaciones según se requiera en las redes.
                
                El cloud computing hace referencia a la ejecución de las cargas de trabajo en las nubes, las cuales son entornos de TI que extraen, agrupan y comparten recursos flexibles en una red. El cloud computing y las nubes no son tecnologías en sí mismas.
                Son conceptos que describen cómo se pueden utilizar las tecnologías de la información (TI) para proporcionar servicios y recursos a través de Internet. El cloud computing es un modelo de entrega de servicios de TI que permite el acceso a recursos informáticos compartidos, como servidores, almacenamiento y aplicaciones, a través de Internet. Las nubes son entornos virtuales que permiten la creación y gestión de estos recursos, proporcionando una infraestructura escalable y flexible para el cloud computing.
                </p>
            </div>
        </div>
        <div class="row">
            <h1><b>Características</b>:</h1>
            <ul>
                <InventosUtils list={cloudcomputing}>
            </ul>
        </div>
    </div>
</div>