---
import dron from 'src/assets/drop.png';
import { InventosUtils } from "../../../scripts/utils.jsx"
import { drones } from '../../../scripts/listas';
const {ejemplos, importancia, aplicaciones} = drones
---

<div class="Drones">
    <div class="title">
        <img src={dron.src} alt="Dron"/>
        <h1>Drones:</h1>
    </div>
    <div class="rows">
        <div class="row">
            <p>
                Los drones son vehículos aéreos no tripulados que se controlan de forma remota o de manera autónoma. Se utilizan en diversas aplicaciones, como la fotografía aérea, la entrega de paquetes, la vigilancia y la agricultura. Los drones están equipados con tecnología avanzada, como cámaras, sensores y sistemas de navegación, lo que les permite realizar tareas complejas y recopilar datos en tiempo real. La popularidad de los drones ha crecido en los últimos años debido a su versatilidad y accesibilidad.
                <b class="gradient-text">Ejemplos:</b></p>
            </p>
            <ul><InventosUtils list={ejemplos} /></ul>
        </div>
        <div class="row">
            <div class="description hover-anim">
                <h2><b>Aplicaciones:</b></h2>
                <ul>
                    <InventosUtils list={aplicaciones} />
                </ul>
                <h2><b>Importancia:</b></h2>
                <ul>
                    <InventosUtils list={importancia} />
                </ul>
            </div>
        </div>
    </div>
</div>