---
import { InventosUtils } from "../../../scripts/utils"
import { IoTList } from "../../../scripts/listas"
---

<div class="InternetDeLasCosas">
    <h1>El internet de las cosas (IoT)</h1>
    <div class="description hover-anim">
        <p>
            Es un concepto que se refiere a la interconexión de dispositivos y objetos a través de Internet, permitiendo la recopilación y el intercambio de datos entre ellos. Esta tecnología ha transformado la forma en que interactuamos con el mundo que nos rodea, facilitando la automatización y el control remoto de dispositivos en diversas áreas, como la domótica, la salud, la industria y el transporte. El IoT se basa en tecnologías como sensores, conectividad inalámbrica y análisis de datos para crear soluciones inteligentes y eficientes.
            <b class="gradient-text">Ejemplos:</b></p>
        </p>
        <ul>
            <InventosUtils list={IoTList} />
        </ul>
    </div>
</div>