---
import augmentedreality from 'src/assets/augmented-reality.png';
import { InventosUtils } from '../../../scripts/utils';
import { realidad_aumentada } from '../../../scripts/listas';

---

<div class="RealidadAumentada">
    <div class="title">
        <img src={augmentedreality.src} alt="augmentedreality">
        <h1>Realidad aumentada (RA):</h1>
    </div>
    <div class="description hover-anim">
        <p>Tecnología que superpone elementos digitales <span class="gradient-text">(imagenes, texto, modelos 3D)</span> en el mundo real a través de dispositivos móviles y lentes inteligentes. La RA combina el mundo físico y digital, permitiendo la interacción en tiempo real con objetos virtuales, se utiliza en aplicaciones de entretenimiento, educación, medicina y marketing, mejorando la experiencia del usuario y facilitando el aprendizaje, esta se basa en tecnologías como la visión por computadora, el reconocimiento de patrones y la geolocalización para identificar y superponer información digital en el entorno real. <b class="gradient-text">Ejemplos:</b></p>

        <ul>
            <InventosUtils list={realidad_aumentada} />
        </ul>
    </div>
</div>