---
import smartphone from "src/assets/smartphone.png";
import {smartphones} from "../../../scripts/listas"
import { CardUtils, InventosUtils } from "../../../scripts/utils.jsx";
---

<div class="Telefonos">
    <div class="title">
        <img src={smartphone.src} alt="smartphone"/>
        <h1>Teléfonos móviles:</h1>
    </div>
    <div class="cards">
        <CardUtils list={smartphones} />     
    </div>
</div>