---
import LinkCards from "@components/LinkCards.astro";
import { lista } from "@scripts/bibliography/index";
---

<div class="BibliographyList">
    <LinkCards list={lista} />
</div>

<style>
    .BibliographyList {
        margin-bottom: 10vh;
        padding: 2rem;
    }
</style>