---
import Layout from "@layouts/Layout.astro";
import CharactersList from "@components/characters/CharactersList.astro";
import Encabezado from "@components/Encabezado.astro";
import PieDePagina from "@components/PieDePagina.astro";
---

<Layout section={"personajes"} >
    <Encabezado description="Descripcion de los personajes más influyentes del siglo XXI, que han dejado huella en la historia y en la cultura.">
        <h1 class="main-title">
            PERSONAJES INFLUYENTES DEL <span class="gradient-text">SIGLO XXI</span>
        </h1>
    </Encabezado>
    <CharactersList />
    <PieDePagina />
</Layout>
