<nav class="navbar">
    <h2>
        Gracias por leer!
    </h2>
</nav>

<style>
    .navbar {
        text-align: center;
        justify-content: center;
        align-items: center;
        display: flex;
        position: sticky;
        width: 100%;
        background-color: #fff; /* Adjust as needed */
        z-index: 1000; /* Ensure it stays above other elements */
        background-color: rgb(255, 255, 255);
        backdrop-filt: blur(50px)
        -webkit-backdrop-filter: blur(50px);
        box-shadow: 0 -8px 10px rgba(0, 0, 0, 0.1);
    }

    .navbar h2 {
        font-size: 1.5em;
        margin: 0;
        padding: 10px;
        background: var(--main-gradient);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        text-align: center;
        justify-self: center;
    }
</style>