<nav class="navbar">
    <div class="menu">
        <ul class="list">
            <li><a href="#index">Inicio</a></li>
            <li><a href="#about">Sobre</a></li>
            <li><a href="#credits">Créditos</a></li>
        </ul>
    </div>
</nav>

<style>
    .navbar {
        position: sticky;
        width: 100%;
        background-color: #fff; /* Adjust as needed */
        z-index: 1000; /* Ensure it stays above other elements */
        background-color: rgb(255, 255, 255);
        backdrop-filt: blur(50px)
        -webkit-backdrop-filter: blur(50px);
        box-shadow: 0 -8px 10px rgba(0, 0, 0, 0.1);
    }
</style>