---
import uscologo from '@assets/usco.svg';
import background from '@assets/background.svg';
---

<header id="container">
	<img id="background" src={background.src} alt="" fetchpriority="high" />
	<main>
		<section id="hero">
			<div class="top-container">
				<img class="usco-logo" src={uscologo.src} alt="Usco Logo" />
				<h1 class="main-title">
					AVANCES TECNOLÓGICOS Y CIENTÍFICOS DEL <span class="gradient-text">SIGLO XXI</span>
				</h1>

				<h2>
					A continuación se presentan los avances tecnológicos y científicos más relevantes del siglo XXI <span class="gradient-text">(2000 - actualidad)</span>, que han transformado la forma en que vivimos, trabajamos y nos comunicamos. Desde la <span class="gradient-text">inteligencia artificial</span> hasta la <span class="gradient-text">biotecnología</span>, estos avances han tenido un impacto significativo en nuestra sociedad y continúan moldeando nuestro futuro.
					Esta página web tiene como propósito informar acerca de los avances tecnológicos y científicos más importantes del siglo XXI.
				</h2>
			</div>
		</section>
	</main>
</header>

<style>
	.main-title {
		font-size: min(2em, 3em);
		margin: 2vh, auto;
	}
	.top-container {
		/* Centering the image and text */
		align-items: center;
		display: flex;
		justify-content: center;
		flex-wrap: wrap;

		& img {
			margin-right: 20px;
		}
	}
	.usco-logo {
		background-color: white;
		border-radius: 20%;
		width: min(150px, 300px);
		height: auto;
		margin-bottom: 16px;
	}
	#container {
		margin-top: 20vh;
	}

	#background {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: -1;
		background-color: var(--background-color);
		/*filter: blur(10px)*/
	}

	main {
		height: 100%;
		display: flex;
		justify-content: center;
	}

	#hero {
		display: flex;
		align-items: center;
		flex-direction: column;
		justify-content: center;
		text-justify: inter-word;
		text-align: center;
		padding: 16px;
		width: 80vw;
	}

	h1 {
		font-size: 22px;
		margin-top: 0.25em;
	}

	h2 {
		margin-top: 0.25em;
	}
</style>
